#titulo{
    width: 400px;
    border: salmon;
    text-align: center;
    font-size: medium;
    position: relative;
    left: 500px;
    color: red;
    
    
}
#botonSeno{
        border-color: seagreen;
        border-style: inset;
        position: relative;
        left: 500px;
        width: 150px;
        height: 100px;
        color: salmon;

}
#botonCoseno{
        border-color: seagreen;
        border-style: inset;
        position: relative;
        left: 600px;
        color: salmon;
        width: 150px;
        height: 100px;
}
#miLienzo{
    color: skyblue;
}
